<form onsubmit="booksearch(this.query.value); return false;"
              method="get">
        <label for="list"><h4> Search for Books </h4></label>
        <input type="text" size="30" name="query" value="Pride and Prejudice"/>
        <input type="submit" value="Go!"/>
</form>
<div>
