<head>
  <meta charset="utf-8">
  <title>Book Lists!</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Karianne Burns">

</head>

<body class="container">

     <div class="row">
        <div class="col-sm-12">
          <h1 class="text-center">Create Book Lists</h1>
          <p class="text-center">Create personalized books lists with Google Books API</p>
      </div>

       <div class="row">
          <div class="col-sm-12">
            <% if (!user) { %>
              <h2>Welcome! Please log in.</h2>
              <a href="/auth/google">Sign In with Google</a>
            <% } else { %>
              <!-- <img style="-webkit-user-select: none" src="[%= user.photos[0].value %]"/> -->
              <h2>Hello, <%= user.displayName %>.</h2>
              <!-- <a href="/auth/google/lists">View Books Lists</a> -->
            <% } %>
          </div>
        </div>



    </div>


    <div class="row">
      <div class="col-sm-6">
        <form action="newList" method="post">
          <label for="list"><h4> Create New List </h4></label>
          <input id="list" type="text" name="list">
          <input type="submit" value="Save">
        </form>
      </div>

       <div class="col-sm-6">
          <form onsubmit="booksearch(this.query.value); return false;"
                method="get">
            <label for="list"><h3> Search for Books </h3></label>
            <input type="text" size="30" name="query" value="Pride and Prejudice"/>
            <input type="submit" value="Go!"/>
          </form>
        </div>
    </div>

<div class="row">
    <div class="col-sm-4">
    <h3>Click list to add books</h3>
     <table class="table table-hover">
        <% if (!lists) { %>
          <tr>
            <td ><a href="#"><h5>NO Lists!</h5></a></td>
          </tr>
        <% } else { %>
          <% for(var i = 0; i < lists.length; i++) {%>
          <tr>
            <td>
              <button type="button" class="remove btn btn-default btn-md">
                <h5 class="chooselist" title="<%= lists[i].attributes.list_id %>"><%= lists[i].attributes.name %></h5>
              </button>
            </td>
            <td>
              <a type="button" class="remove btn btn-default btn-sm" href="/auth/google/<%= lists[i].attributes.list_id %>/delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true">
                </span>
              </a>
            </td>
          </tr>
          <% } %>
        <% } %>
      </table>
    </div>

  <div class="col-sm-4">
    <h3 class="mylist" style="display:inline-block;margin-right:10px; ">Books in List </h3>
      <table class="table table-hover" id="books">
      </table>

  </div>

  <div class="col-sm-4">
    <h3>Click Book to add to List</h3>


      <table class="table table-hover" id="results">
      </table>

  </div>
</div>


</body>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script type="text/javascript" >
  //choose list event handler, calls loadBooks for list id
  $('.chooselist').on("click", function(event) {
    console.log(event);
    var id = $(event.target).attr("title");
    var title = $(event.target).text();
    console.log(id, title);
    //create new element with title and id:
    $('.mylist').children().remove();
    var element = $('<h3></h3>').attr({"title": id, "style": "display:inline-block", "class": "listChoice"}).text(title);
    $('.mylist').append(element);
    loadBooks(id)
  })

  //ajax call for books in that list
  var loadBooks = function(id) {
    console.log("jsonp request ");
    $.getJSON('http://127.0.0.1:3000/auth/google/'+id, function(jsonp){
      displayBooks(jsonp);
    })
  };

  //render book list
  var displayBooks = function(books){
      console.log("trying to display books", books);
      var table = $('#books').empty();

      for (var i = 0; i < books.length; ++i) {
        var newtr = $('<tr></tr>')
        var title = $('<td></td>').text(books[i].title);;
        var author = $('<td></td>').text(books[i].author);
        var button = $('<td><button type="button" class="remove btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>');
        newtr.append(title, author, button);

        button.bind('click', {id: books[i].book_id, list_id: books[i].list_id }, function(event){
          var data = event.data;
          console.log(data);
          console.log("ID is ", data.id);
          console.log("LIST ID is ", data.list_id)
          removeBook(data.id, data.list_id);
        })

        table.append(newtr);
      }

  }

  var removeBook = function(id, list_id) {
    $.ajax({
        type: 'DELETE',
        url: 'http://127.0.0.1:3000/auth/google/'+list_id+"/"+id,
        contentType: 'application/json',
        success: function(resp){
          console.log("sucess deleting book  ", resp);
          displayBooks(resp);


        }
      });
  }

  //when you click list, it the title appears in next column along with associated books
  //add book to list
  var addBook = function(title, author, id) {
    var id = id;
    $.ajax({
        type: 'POST',
        url: 'http://127.0.0.1:3000/auth/google/'+id,
        data: JSON.stringify([title, author]),
        contentType: 'application/json',
        success: function(id){
          console.log("sucess posting book  ");
          console.log("trying to loat list ", id);
          //do an ajax get request!~
          loadBooks(id);


        }
      });
  }






  //handler for googleapi
  var booksearch = function(query){
    console.log(query)
      var script = document.createElement("script");
        script.src = 'https://www.googleapis.com/books/v1/volumes?q='
          + encodeURIComponent(query) + '&filter=partial'
          + '&callback=handleResults';
        script.type = "text/javascript";
        document.getElementsByTagName("head")[0].appendChild(script);

  }

  function handleResults(root) {
  // Find the identifier of the first embeddable match
  // If none found, report an error
  var entries = root.items || [];
  console.log(entries);
  var table = $('#results');
  table.empty();

    for (var i = 0; i < entries.length; ++i) {
      console.log('HEREERE')
      var entry = entries[i];
      var bookTitle = entry.volumeInfo.title;
      var bookAuthor = entry.volumeInfo.authors !== undefined ? entry.volumeInfo.authors[0] : "";
      //console.log(entry);
      var newtr = $('<tr></tr>')
      var title = $('<td></td>').text(bookTitle);;
      var author = $('<td></td>').text(bookAuthor );
      newtr.append(title, author);

      newtr.bind('click', {title: title, author: author}, function(event){
        //console.log(event.target.text())
        var data = event.data;
        console.log(event.target);
        console.log(this);
       // $("event.target:first-child").text();
        var id = $('.listChoice').attr("title");
        console.log("ID is ", id)
        console.log("trying to add", data.title[0].childNodes[0].data, data.author[0].childNodes[0].data, id)
        addBook(data.title[0].childNodes[0].data, data.author[0].childNodes[0].data, id);
       $(this).remove();

      })
      table.append(newtr);

    }

  }

</script>
